
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("cartographer.webp");
  margin: 0;
}
.toptoptop{
  margin-bottom: 200px;
}
.toptop{
  height:101px;
  margin-bottom: -100px;
  /*background: url(random_grey_variations.png) 0 0 repeat;*/
}
.top{
  height:120px;
  margin: 0px 0 50px 0;
  transform: skewY(3deg);
  transform-origin: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px black ;
  
}
.top:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 500%;
  top:-150px;
  z-index: -2;
  transform: skewY(-3deg);
  background: url(px_by_Gre3g.webp) 0 0 repeat;
  
}
.top:after{
  content: "";
  box-shadow:0px -30px 30px 0px black inset;
  height: 10px;
  width: 100%;
}

@keyframes topcolor {
    from {background-color:  #01A6CF;}
    to {background-color:  #01C97A;}
}


.navspace{
  padding-top: 50px;
  top: 0px;
  margin:0;
  position:fixed;
  transform-origin: 0% 100%;
  background-color: #1C2833  ;
  width: 100%;
  height: 50px;
  z-index: 2;
  transform: skewY(-3deg);
  box-shadow: 0 10px 10px black;
}
.progressbar{
  content: "";
  bottom:0;
  width: 100%;
  margin-top: 10px;
  height:3px;
  z-index: 3;
  float: right;
  animation-name: topcolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /*background-image: linear-gradient(to right, #000FFF  , #9BFDFF);*/
}
.progress-container{
  width: 100%;
  z-index: 4;
  height: 3px;
  background-color: #1C2833  ;
}

.navspace:before{
  content: "";
  position: absolute;
  background-color: #1C2833  ;
  height: 100px;
  width:200%;
  top:-95px;
}
.navbar {
  top:0px;
  background-color:inherit;
  display:flex;
  flex-flow: row nowrap;
  z-index:2;
  color: white;
  width: 100%;
  margin:0 0 -10px 0;
  height: 100%;
} 
@media (max-width: 800px){
  .navbar{
    flex-wrap: wrap;
    top: -30px;
  }
  .navspace{
    height: 100px;
  }
}

.topa a {
  display: block;
  padding: 10px 40px  10px 40px;
  text-decoration:none;
  color:white;
  font-family:'Oxygen', sans-serif;
  font-weight:300;
  font-style: italic;
  font-size:20px;
  transition-duration: 0.5s;
}
.topa a:hover {
  background-color: #5D6D7E;
  color: white;
}

.centerp{
  background-color: #1C2833;
  width: 80%;
  margin: auto;
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 120%;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}
.squareh{
  font-size: 140%;
  padding: 60px 55px 55px 55px;
  background-color: #1C2833  ;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #01A6CF, #01C97A);

}
.squarep{
  font-size: 140%;
  padding: 15px 55px 15px 55px;
  background-color: #1C2833  ;
  overflow: hidden;
  background: linear-gradient(to right, #01A6CF, #01C97A);
 flex-basis: 300px;
}
.sideh{
  width: 35%;
  height: 400px;
  margin: 0;
  font-size: 140%;
  padding: 0px;
  background-color: #1C2833  ;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #01A6CF, #01C97A);

}

.point{
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 300%;
  overflow: hidden;
  position: relative;
}
.horizp{
  width: 90%;
  position:relative;
  padding-bottom:5%;
  padding-top:5%;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side{
  height: 400px;
}

a{
  color:white
}
a:hover{
  color:#01C97A;
}

/*revised content containers*/



.flex-container{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.flex-container-vertical{
  max-width: 1600px;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  padding: 0 200px 0 200px;
}
@media (max-width: 1820px){
  .flex-container-vertical{
    padding: 0 100px 0 100px;
  }
}
@media (max-width: 1200px){
  .flex-container{
    flex-flow: column wrap;
    align-items: center;

  }
  .flex-container > div{
    margin-top: 20px;
    overflow: visible;
  }
}
.text-box{
  background-color: #1C2833;
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 120%;
  overflow: hidden;
  flex-basis: 600px;
  flex-grow: 1;
  position: relative;
}
.text{
  padding: 15px 55px 15px 55px;
  line-height: 1.7;
}
ul{
  list-style-type: none;
}
.text-box-header{
  font-size: 140%;
  padding: 15px 55px 15px 55px;
  background-color: #1C2833  ;
  overflow: hidden;
  background: linear-gradient(to right, #01A6CF, #01C97A);
}
img{
  width: 100%;
  height: auto;
}
.img-box{
  flex-basis: 600px;
  flex-grow: 1;
  position: relative;
}
.img-caption{
  font-family:'Oxygen', sans-serif;
  font-style: italic;
  color: white;
  font-size: 100%;
  position: relative;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #363636;
}

.subheader{
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 200%;
  overflow: hidden;
  position: relative;
  /*border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #01A6CF, #01C97A) 20% stretch;*/
  padding-bottom: 5px;
}
h2{
  font-size: 220%;
}

.smallheader{
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 200%;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #01A6CF, #01C97A) 20% stretch;
  padding-bottom: 5px;
}
.centerspace{
  content: "";
  width: 56px;
}
.spectable{
  background-color: #1C2833;
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 120%;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}
.spectable th{
  padding-top: 12px;
  padding-bottom: 12px;
}
.spectable tr:nth-child(even){
  background-color: #5D6D7E;
}