
body {
  background-image: url("cartographer.webp");
  margin: 0;
}
.toptoptop{
  margin-bottom: 200px;
}
.toptop{
  height:101px;
  margin-bottom: -100px;
  /*background: url(random_grey_variations.png) 0 0 repeat;*/
}
.top{
  height:120px;
  margin: 0px 0 50px 0;
  transform: skewY(3deg);
  transform-origin: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px black ;
  
}
.top:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 500%;
  top:-150px;
  z-index: -2;
  transform: skewY(-3deg);
  background: url(px_by_Gre3g.webp) 0 0 repeat;
  
}
.top:after{
  content: "";
  box-shadow:0px -30px 30px 0px black inset;
  height: 10px;
  width: 100%;
}

@keyframes topcolor {
    from {background-color:  #01A6CF;}
    to {background-color:  #01C97A;}
}


.navspace{
  padding-top: 50px;
  top: 0px;
  margin:0;
  position:fixed;
  transform-origin: 0% 100%;
  background-color: #1C2833  ;
  width: 100%;
  height: 50px;
  z-index: 2;
  transform: skewY(-3deg);
  box-shadow: 0 10px 10px black;
}
.progressbar{
  content: "";
  bottom:0;
  width: 100%;
  margin-top: 10px;
  height:3px;
  z-index: 3;
  float: right;
  animation-name: topcolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /*background-image: linear-gradient(to right, #000FFF  , #9BFDFF);*/
}
.progress-container{
  width: 100%;
  z-index: 4;
  height: 3px;
  background-color: #1C2833  ;
}

.navspace:before{
  content: "";
  position: absolute;
  background-color: #1C2833  ;
  height: 100px;
  width:200%;
  top:-95px;
}
.navbar {
  top:0px;
  background-color:inherit;
  display:flex;
  flex-flow: row nowrap;
  z-index:2;
  color: white;
  width: 100%;
  margin:0 0 -10px 0;
  height: 100%;
} 
@media (max-width: 800px){
  .navbar{
    flex-wrap: wrap;
    top: -30px;
  }
  .navspace{
    height: 100px;
  }
}

.topa a {
  display: block;
  padding: 10px 40px  10px 40px;
  text-decoration:none;
  color:white;
  font-family:'Oxygen', sans-serif;
  font-weight:300;
  font-style: italic;
  font-size:20px;
  transition-duration: 0.5s;
}
.topa a:hover {
  background-color: #5D6D7E;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:left;
  color: white;
}
.centerp{
  background-color: #1C2833;
  width: 80%;
  margin: auto;
  color: white;
  font-family:'Oxygen', sans-serif;
  font-size: 120%;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}
.squareh{
  font-size: 140%;
  padding: 60px 55px 55px 55px;
  background-color: #1C2833  ;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #01A6CF, #01C97A);

}
.squarep{
  font-size: 140%;
  padding: 15px 55px 15px 55px;
  background-color: #1C2833  ;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #01A6CF, #01C97A);

}
.sideh{
  width: 35%;
  height: 400px;
  margin: 0;
  font-size: 140%;
  padding: 0px;
  background-color: #1C2833  ;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #01A6CF, #01C97A);

}
@font-face {
    font-family: blyat;
    src: url(kremlin.ttf);
}
.point{
  width: 80%;
  color: white;
  margin: auto;
  font-family:'Oxygen', sans-serif;
  font-size: 300%;
  overflow: hidden;
  position: relative;
}
.horizp{
  width: 90%;
  position:relative;
  padding-bottom:5%;
  padding-top:5%;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side{
  height: 400px;
}
p{
  padding: 60px 55px 55px 55px;
}
a{
  color:white
}
a:hover{
  color:#01C97A;
}
.flex-container{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
}